<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${nName}"></title>
    <script language="javascript" src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/chapterList.css">
</head>
<body background="/images/login-bg.jpg">
    <div class="chaMain">
        <header>
            <div><img th:src="${novel.imgUrl}"></div>
            <div>小说名：<scan th:text="${novel.nName}"></scan></div>
            <div>作者：<a th:text="${user.name}" th:href="'/user/toHomePage?uid='+${user.id}"></a></div>
            <div>小说简介：<sacn th:text="${novel.details}"></sacn></div>
            <div>状态：<sacn th:text="${novel.status}"></sacn></div>
            <div>评分：<sacn th:text="${novel.score}"></sacn></div>
        </header>
        <main>
            <ul class="chaList" th:each="chapter:${chapters1}">
                <li th:text="${chapter.cName}" th:value="${chapter.id}" onclick="toRead(this.value)"></li>
            </ul>
        </main>
        <main>
            <ul class="chaList" th:each="chapter:${chapters2}">
                <li th:text="${chapter.cName}" th:value="${chapter.id}" onclick="toRead(this.value)"></li>
            </ul>
        </main>
    </div>


    <div th:if="${pageObj.totalPage}<30">
        <div class="num">
            <div th:each="i:${#numbers.sequence(1, pageObj.totalPage)}" class="paging-area">
                <a th:unless="${pageObj.pageNum == (i - 1)}" th:href="'/novel/toChapterList?nid=' + ${novel.id} + '&&pageNo=' + ${i}" th:text="${i}" ></a>
                <div th:if="${pageObj.pageNum == (i - 1)}" th:text="${i}" ></div>
            </div>
            <div class="current" th:text="|当前在第 ${pageNo} 页|"></div>
        </div>
    </div>
    <div th:if="${pageObj.totalPage}>=30">
        <div class="num">
            <div th:each="i:${#numbers.sequence(1, pageObj.totalPage/3)}" class="paging-area">
                <a th:unless="${pageObj.pageNum == (i - 1)}" th:href="'/novel/toChapterList?nid=' + ${novel.id} + '&&pageNo=' + ${i}" th:text="${i}" ></a>
                <div th:if="${pageObj.pageNum == (i - 1)}" th:text="${i}" ></div>
            </div>
        </div>
        <div class="num">
            <div th:each="i:${#numbers.sequence(pageObj.totalPage/3+1, 2*pageObj.totalPage/3)}" class="paging-area">
                <a th:unless="${pageObj.pageNum == (i - 1)}" th:href="'/novel/toChapterList?nid=' + ${novel.id} + '&&pageNo=' + ${i}" th:text="${i}" ></a>
                <div th:if="${pageObj.pageNum == (i - 1)}" th:text="${i}" ></div>
            </div>
        </div>
        <div class="num">
            <div th:each="i:${#numbers.sequence(2*pageObj.totalPage/3, pageObj.totalPage)}" class="paging-area">
                <a th:unless="${pageObj.pageNum == (i - 1)}" th:href="'/novel/toChapterList?nid=' + ${novel.id} + '&&pageNo=' + ${i}" th:text="${i}" ></a>
                <div th:if="${pageObj.pageNum == (i - 1)}" th:text="${i}" ></div>
            </div>
            <div class="current" th:text="|当前在第 ${pageNo} 页|"></div>
        </div>
    </div>



<script type="text/javascript" src="/js/chapterList.js" ></script>
</body>
</html>