<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <script language="javascript" src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/commentList.css">
</head>
<body background="/images/login-bg.jpg">
<header>
    <div th:if="${hNo} eq 1">
        <div class="cUser" onclick="switchTo(1)">用户管理</div>
        <div class="downLine"></div>
    </div>
    <div th:unless="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(2)">作者列表</div>
        <div class="downLine"></div>
    </div>
    <div th:if="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(3)">小说管理</div>
        <div class="downLine"></div>
    </div>
    <div th:unless="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(4)">小说列表</div>
        <div class="downLine"></div>
    </div>
    <div th:if="${hNo} eq 1" >
        <div class="cNovel" onclick="switchTo(5)">评论管理</div>
        <div class="downLine"></div>
    </div>
    <div>
        <div class="cNovel" onclick="switchTo(6)">我的主页</div>
        <div class="downLine"></div>
    </div>
    <div>
        <div style="display: flex">
            <img th:src="${currentUser.imageUrl}" style="width: 50px;height: 50px;border-radius: 50%;"  alt=""/>
            <div class="ccUser" th:text="|您好！${currentUser.name}|"></div>
        </div>
        <input type=hidden id="cUserId" th:value="${currentUser.id}" />
        <div th:if="${currentUser.status} eq 3" class="cDetails" onclick="switchTo(7)">我的书架</div>
        <div th:if="${currentUser.status} eq 2" class="cDetails" onclick="switchTo(7)">我的作品</div>
        <div class="cDetails" onclick="switchTo(6)">个人信息</div>
        <div class="signOut" onclick="switchTo(8)">退出</div>
        <div class="downLine"></div>
    </div>
</header>

<main>
    <div class="ttl" th:text="${title}"></div>
    <div class="splitLine"></div>

    <table>
        <tr class="list">
            <th style="font-weight: 700">评论者</th>
            <th style="font-weight: 700">被评论者</th>
            <th style="font-weight: 700">评论内容</th>
            <th th:if="${currentUser.status} eq 1" style="font-weight: 700">操作</th>
        </tr>
        <tr class="list" th:each="comment:${commentList}">
            <td th:text="${comment.commentator.name}"></td>
            <td th:text="${comment.user.name}"></td>
            <td th:text="${comment.content}"></td>
            <input id="cmtId" type="hidden"  />
            <td>
                <button th:if="${hNo} eq 1" th:value="${comment.id}" onclick="removeComment(this.value)">删除</button>
            </td>
        </tr>
    </table>

</main>

<div class="num">
    <div th:each="i:${#numbers.sequence(1, pageObj.totalPage)}" class="paging-area">
        <a th:unless="${pageObj.pageNum == (i - 1)}" th:href="'/comment/toCommentList?pageNo=' + ${i}" th:text="${i}" ></a>
        <div th:if="${pageObj.pageNum == (i - 1)}" th:text="${i}" ></div>
    </div>
    <div>
        <input id="currentPNo" type="hidden" th:value="${pageNo}" />
        <a th:if="${pageNo} > 1" th:href="'/comment/toCommentList?pageNo=' + ${pageNo-1}" style="text-decoration-line: none;color: saddlebrown">上一页</a>
        <a th:unless="${pageNo} eq ${pageObj.totalPage}" th:href="'/comment/toCommentList?pageNo=' + ${pageNo+1}"  style="text-decoration-line: none;color: saddlebrown">下一页</a>
    </div>
    <div th:text="|当前在第 ${pageNo} 页|"></div>
</div>


<script type="text/javascript" src="/js/commentList.js" ></script>
</body>
</html>