<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:unless="${currentUser.id} eq ${user.id}">他的主页</title>
    <title th:if="${currentUser.id} eq ${user.id}">我的主页</title>
    <script language="javascript" src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/homePage.css">
</head>
<body background="/images/login-bg.jpg">
<header>
    <div th:if="${hNo} eq 1">
        <div class="cUser" onclick="switchTo(1)">用户管理</div>
        <div class="downLine"></div>
    </div>
    <div th:unless="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(2)">作者列表</div>
        <div class="downLine"></div>
    </div>
    <div th:if="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(3)">小说管理</div>
        <div class="downLine"></div>
    </div>
    <div th:unless="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(4)">小说列表</div>
        <div class="downLine"></div>
    </div>
    <div th:if="${hNo} eq 1" >
        <div class="cNovel" onclick="switchTo(5)">评论管理</div>
        <div class="downLine"></div>
    </div>
    <div>
        <div class="cNovel" onclick="switchTo(6)">我的主页</div>
        <div class="downLine"></div>
    </div>
    <div>
        <div style="display: flex">
            <img th:src="${currentUser.imageUrl}" style="width: 50px;height: 50px;border-radius: 50%;"  alt=""/>
            <div class="ccUser" th:text="|您好！${currentUser.name}|"></div>
        </div>
        <input type=hidden id="cUserId" th:value="${currentUser.id}" />
        <div th:if="${currentUser.status} eq 3" class="cDetails" onclick="switchTo(7)">我的书架</div>
        <div th:if="${currentUser.status} eq 2" class="cDetails" onclick="switchTo(7)">我的作品</div>
        <div class="cDetails" onclick="switchTo(6)">个人信息</div>
        <div class="signOut" onclick="switchTo(8)">退出</div>
        <div class="downLine"></div>
    </div>
</header>


     <div style="display: flex;">
         <main>
             <div class="ttl" th:text="|${user.name}的主页|"></div>
             <div class="splitLine"></div>

             <div class="info">
                 <div>
                     <scan>昵称：</scan>
                     <span th:text="${user.name}"></span>
                 </div>
                 <div>
                     <span title="等级说明：&#13;青铜级（阅读或者写作时长<=1年）&#10;白银级（阅读或者写作时长1~3年）&#10;黄金级（阅读或者写作时长3~5年）&#10;铂金级（阅读或者写作时长5~8年）&#10;钻石级（阅读或者写作时长8~10年）&#10;大师级（阅读或者写作时长>=10年）">等级：</span>
                     <span class="duration" th:if="${user.duration}<1">青铜级</span>
                     <span class="duration" th:if="${user.duration}>=1 and ${user.duration}<3">白银级</span>
                     <span class="duration" th:if="${user.duration}>=3 and ${user.duration}<5">黄金级</span>
                     <span class="duration" th:if="${user.duration}>=5 and ${user.duration}<8">铂金级</span>
                     <span class="duration" th:if="${user.duration}>=8 and ${user.duration}<10">钻石级</span>
                     <span class="duration" th:if="${user.duration}>=10">大师级</span>
                     <span th:if="${user.status} eq 2"> 作者</span>
                     <span th:if="${user.status} eq 3"> 读者</span>
                 </div>
                 <div>
                     <scan>简介：</scan>
                     <span th:text="${user.details}"></span>
                 </div>
             </div>
             <ul th:each="novel:${novels}">
                 <img th:src="${novel.imgUrl}" />
                 <li th:text="${novel.nName}" th:onclick="toModifyNovel([[${novel.id}]])"></li>
                 <div th:text="${novel.details}"></div>
                 <div th:if="${currentUser.id} eq ${user.id}">
                     <button>删除</button>
                     <button>修改</button>
                 </div>
             </ul>
         </main>

         <div th:if="${cmt} eq 1" style="margin-top: 400px">
             <div class="ttl">留言区</div>
             <div th:each="comment:${commentList}">
                 <div th:text="|${comment.commentator.name} 的留言：|"></div>
                 <div th:text="${comment.content}"></div>
                 <div th:text="${comment.gmtCreated}"></div>
             </div>
             <div th:unless="${currentUser.id} eq ${user.id}">
                 <input id="commentator1" type="hidden" th:value="${currentUser.id}"/>
                 <input id="commentator2" type="hidden" th:value="${user.id}"/>
                 <textarea style="width: 100px;height: 50px" id="commentContent" type="text"></textarea>
                 <button onclick="sendComment()">发布评论</button>
             </div>
         </div>
     </div>


     <script type="text/javascript" src="/js/homePage.js" ></script>
</body>
</html>