<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改章节</title>
    <link rel="stylesheet" href="/css/modifyChapter.css" />
    <script language="JavaScript" src="/js/jquery-3.6.0.js"></script>
</head>
<body background="/images/login-bg.jpg">

<header>
    <div th:if="${hNo} eq 1">
        <div class="cUser" onclick="switchTo(1)">用户管理</div>
        <div class="downLine"></div>
    </div>
    <div th:unless="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(2)">作者列表</div>
        <div class="downLine"></div>
    </div>
    <div th:if="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(3)">小说管理</div>
        <div class="downLine"></div>
    </div>
    <div th:unless="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(4)">小说列表</div>
        <div class="downLine"></div>
    </div>
    <div th:if="${hNo} eq 1" >
        <div class="cNovel" onclick="switchTo(5)">评论管理</div>
        <div class="downLine"></div>
    </div>
    <div>
        <div class="cNovel" onclick="switchTo(6)">我的主页</div>
        <div class="downLine"></div>
    </div>
    <div>
        <div style="display: flex">
            <img th:src="${currentUser.imageUrl}" style="width: 50px;height: 50px;border-radius: 50%;"  alt=""/>
            <div class="ccUser" th:text="|您好！${currentUser.name}|"></div>
        </div>
        <input type=hidden id="cUserId" th:value="${currentUser.id}" />
        <div th:if="${currentUser.status} eq 3" class="cDetails" onclick="switchTo(7)">我的书架</div>
        <div th:if="${currentUser.status} eq 2" class="cDetails" onclick="switchTo(7)">我的作品</div>
        <div class="cDetails" onclick="switchTo(6)">个人信息</div>
        <div class="signOut" onclick="switchTo(8)">退出</div>
        <div class="downLine"></div>
    </div>
</header>

<form  style="padding-top: 80px" th:if="${page} eq 1" class="reg-form" action="/chapter/modifyChapter" method="post" >
    <div class="txtb">
        <div class="intxt">章节名：</div>
        <input name="cName" th:value="${chapter.cName}"/>
    </div>
    <div class="txtb">
        <div class="intxt">正文内容：</div>
        <textarea style="height: 300px" name="content" th:text="${chapter.content}"></textarea>
    </div>

    <button type="submit">修改</button>
</form>

<form  style="padding-top: 80px" th:if="${page} eq 2" class="reg-form" action="/chapter/addChapter" method="post">
    <div class="txtb">
        <div class="intxt">章节名：</div>
        <input name="cName" placeholder="请输入章节名"/>
    </div>
    <div class="txtb">
        <div class="intxt">正文内容：</div>
        <textarea name="content" placeholder="请输入正文内容"></textarea>
    </div>
    <button class="reg-btn"  type="submit">添加</button>
</form>

<script type="text/javascript" src="/js/modifyChapter.js" ></script>
</body>
</html>