<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${chapter.cName}"></title>
    <script language="javascript" src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/readePage.css">
</head>
<body background="/images/login-bg.jpg">
    <div th:unless="${isLogin}" id="ws" style="position: absolute;height: 100%;width: 100%;background: #333;opacity: 0.5;color: white;font-size: 35px;font-family: 华文楷体">
        <h2 align="center" style="margin-top: 200px">游客您好， <a th:href="@{/loginPage}" style="color: saddlebrown;text-decoration-line: none">请点击登录</a>阅读小说</h2>
    </div>
    <header>
        <div><scan style="font-size: 30px;font-weight: 500;" th:text="${chapter.cName}"></scan></div>
        <div>
            <div class="auth"><scan style="color: saddlebrown">小说名：</scan>
                <a th:text="${novel.nName}" th:href="'/novel/toChapterList?nid='+${novel.id}"></a>
            </div>
            <div>
                <input type="hidden" th:value="${author.id}" />
                <scan style="color: saddlebrown">作者：</scan>
                <a th:text="${author.name}" th:href="'/user/toHomePage?uid='+${author.id}"></a>
            </div>
            <div class="pulTime">
                <scan style="color: saddlebrown">上传时间：</scan>
                <scan th:text="${chapter.gmtCreated}"></scan>
            </div>
        </div>
    </header>
    <input class="current" th:value="${currentUser.id}" style="display: none" />
    <div class="conTxt">
        <p th:text="${chapter.content}"></p>
    </div>

    <input type="hidden" id="id" th:value="${chapter.id}" />
    <input type="hidden" id="nid" th:value="${chapter.nid}" />
    <div th:if="${isLogin}" class="btns">
        <button id="preChapter">上一章</button>
        <button id="nList">目录</button>
        <button id="nextChapter">下一章</button>
    </div>

    <div id="box" class="box">
        <div class="box-in"></div>
    </div>

    <script type="text/javascript" src="/js/readePage.js" ></script>
</body>
</html>