<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="用户列表"></title>
    <script language="javascript" src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/userList.css">
</head>
<body background="/images/login-bg.jpg">

<header>
    <div th:if="${hNo} eq 1">
        <div class="cUser" onclick="switchTo(1)">用户管理</div>
        <div class="downLine"></div>
    </div>
    <div th:unless="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(2)">作者列表</div>
        <div class="downLine"></div>
    </div>
    <div th:if="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(3)">小说管理</div>
        <div class="downLine"></div>
    </div>
    <div th:unless="${hNo} eq 1">
        <div class="cNovel" onclick="switchTo(4)">小说列表</div>
        <div class="downLine"></div>
    </div>
    <div th:if="${hNo} eq 1" >
        <div class="cNovel" onclick="switchTo(5)">评论管理</div>
        <div class="downLine"></div>
    </div>
    <div>
        <div class="cNovel" onclick="switchTo(6)">我的主页</div>
        <div class="downLine"></div>
    </div>
    <div>
        <div style="display: flex">
            <img th:src="${currentUser.imageUrl}" style="width: 50px;height: 50px;border-radius: 50%;"  alt=""/>
            <div class="ccUser" th:text="|您好！${currentUser.name}|"></div>
        </div>
        <input type=hidden id="cUserId" th:value="${currentUser.id}" />
        <div th:if="${currentUser.status} eq 3" class="cDetails" onclick="switchTo(7)">我的书架</div>
        <div th:if="${currentUser.status} eq 2" class="cDetails" onclick="switchTo(7)">我的作品</div>
        <div class="cDetails" onclick="switchTo(6)">个人信息</div>
        <div class="signOut" onclick="switchTo(8)">退出</div>
        <div class="downLine"></div>
    </div>
</header>
    <main>
        <div class="ttl" th:if="${hNo} eq 1">用户列表</div>
        <div class="ttl" th:unless="${hNo} eq 1">作者列表</div>
        <div class="splitLine"></div>
        <div style="display: flex">
            <button class="add" th:if="${hNo} eq 1">添加用户</button>
            <div style="margin-left: 150px;margin-right: 150px"></div>
            <input type="text" id="username" placeholder="请输入用户名" />
            <select id="status" th:if="${hNo} eq 1">
                <option value="0">所有</option>
                <option value="2">作者</option>
                <option value="3">读者</option>
            </select>
            <button onclick="queryUser()">查询</button>
        </div>
        <div class="list">
            <div style="font-weight: 700">账号</div>
            <div style="font-weight: 700">用户名</div>
            <div style="font-weight: 700" title="等级说明：&#13;青铜级（阅读或者写作时长<=1年）&#10;白银级（阅读或者写作时长1~3年）&#10;黄金级（阅读或者写作时长3~5年）&#10;铂金级（阅读或者写作时长5~8年）&#10;钻石级（阅读或者写作时长8~10年）&#10;大师级（阅读或者写作时长>=10年）">等级</div>
            <div style="font-weight: 700">身份</div>
            <div style="font-weight: 700">简介</div>
            <div th:if="${currentUser.status} eq 1" style="font-weight: 700">操作</div>
        </div>
        <div class="list" th:each="user:${userList}">
            <div class="aid" th:text="${user.id}"></div>
            <div class="name" th:text="${user.name}"></div>
            <div class="duration" th:if="${user.duration}<1">青铜级</div>
            <div class="duration" th:if="${user.duration}>=1 and ${user.duration}<3">白银级</div>
            <div class="duration" th:if="${user.duration}>=3 and ${user.duration}<5">黄金级</div>
            <div class="duration" th:if="${user.duration}>=5 and ${user.duration}<8">铂金级</div>
            <div class="duration" th:if="${user.duration}>=8 and ${user.duration}<10">钻石级</div>
            <div class="duration" th:if="${user.duration}>=10">大师级</div>
            <div class="status" th:if="${user.status} eq 2">作者</div>
            <div class="status" th:if="${user.status} eq 3">读者</div>
            <div class="details" th:text="${user.details}"></div>
            <div th:if="${hNo} eq 1">
                <button th:value="${user.id}" onclick="modifyUser(this.value)">修改</button>
                <button th:value="${user.id}" onclick="removeUser(this.value)">删除</button>
            </div>

        </div>
    </main>

    <div class="num">
        <div th:each="i:${#numbers.sequence(1, pageObj.totalPage)}" class="paging-area">
            <a th:unless="${pageObj.pageNum == (i - 1)}" th:href="'/user/toUserList?pageNo=' + ${i}" th:text="${i}" ></a>
            <div th:if="${pageObj.pageNum == (i - 1)}" th:text="${i}" ></div>
        </div>
        <div>
            <input id="currentPNo" type="hidden" th:value="${pageNo}" />
            <a th:if="${pageNo} > 1" th:href="'/user/toUserList?pageNo=' + ${pageNo-1}" style="text-decoration-line: none;color: saddlebrown">上一页</a>
            <a th:unless="${pageNo} eq ${pageObj.totalPage}" th:href="'/user/toUserList?pageNo=' + ${pageNo+1}"  style="text-decoration-line: none;color: saddlebrown">下一页</a>
        </div>
        <div th:text="|当前在第 ${pageNo} 页|"></div>
    </div>

<div class="dlg">
    <form id="fm" method="post" action="/user/registerUser" style="margin:0;padding:20px 50px">
        <div>
            <div>用户名</div>
            <input name="username" />
        </div>
        <div>
            <div>密码</div>
            <input name="password" />
        </div>
        <div>
            <div>身份</div>
            <select style="width: 180px;" name="status">
                <option value="2">作者</option>
                <option value="3">读者</option>
            </select>
        </div>
        <div>
            <div>写作/阅读年限</div>
            <input name="duration">
        </div>
        <div>
            <div>个人简介</div>
            <input name="description" />
        </div>
        <div class="sbt">
            <button type="submit">添加</button>
            <div class="closeDiv" onclick="closeDiv()">取消</div>
        </div>
    </form>
</div>


    <script type="text/javascript" src="/js/userList.js" ></script>
</body>
</html>